# environment variables (all .env files in any folder)
*.env
*.env.*

# dependencies (all node_modules in any folder)
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build outputs (optional)
dist/
build/
